


* {
 font-family: 'Ruluko', sans-serif;

}


a {
	color: #0075A3;
	font-size: .75em;
}

img{
	width: 100%;
    float: left;
}

.text-center {
	text-align: center;
}

.text-right {
    text-align: right;
}

ul {
    list-style-type: none;
}

input{
    margin-bottom: 10px;
}

#admin{
    margin-bottom: 10px;
}

.saved{
    background-color: blue;
    color: white;
}

.buttons-right{
    text-align: right;
}
