* {
 font-family: 'Ruluko', sans-serif;
}

.header{
    background-color: #337ab7;
}

.header .container{
    padding: 0;
}

.header h1{
    font-size: 4em;
    color: #fff;
    margin: 20px 0;
}

img{
	width: 100%;
    float: left;
}

img:hover {
    cursor: pointer;
    -webkit-transform: scale(.99);
    transform: scale(.99);
    -webkit-transition: .3s ease-in-out;
    transition: .3s ease-in-out;
}

img:active {
    border: solid 3px #286090;
    -webkit-transition: 0s ease-in-out;
    transition: 0s ease-in-out;
}

.text-right {
    text-align: right;
}

ul {
    list-style-type: none;
}

input{
    margin-bottom: 10px;
}

#admin{
    margin-bottom: 10px;
}

/* used when saving admin settings*/
.saved{
    background-color: blue;
    color: white;
}


@media only screen and (max-width: 425px) {
    .col-xxs-12{
        width: 100%;
    }

    .header .container{
        padding: 0 15px;
    }
}

